.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: fit-content;
}

.Center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.Converter {
  display: flex;
  flex-direction: column;
}

#app-name {
  text-align: center;
  margin-bottom: 30px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 20px;
  background-color: #EEEEEE;
  border: 0;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}

input:focus {
  border-radius: 10px;
  background-color: #EEEEEE;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
